{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>{{ _('Sign In') }}</h1>
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div>

  {% set register_link %}
    <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a>
  {% endset %}

  {% set reset_link %}
    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
  {% endset %}

  <br>
  <p>{{ _('New User? %(register)s', register=register_link) }} </p>
  <p>
    {{ _('Forgot Your Password? %(reset)s', reset=reset_link) }}
  </p>
{% endblock %}
